#departure,
#return {
  display: none;
  position: absolute;
}
.div-disabled {
  pointer-events: none;
}

.react-datepicker-wrapper {
  height: 0px !important;
}

.react-datepicker__tab-loop{
  position: relative !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 2px !important;
}

.react-datepicker-popper {
  transform: translate(-65%, 45%) !important;
}
